{% extends 'layout_1.html' %}

{% block content %}
<center><a><img src="static/asap.png"></a></center>
<center><h1><b>Music</b>
</h1></center>
<br>
<h5> 
	This project was brought to you by Abhishek Deshmukh , Ketan Patil and Swaraj Rajput of TE-2 Computer Department,SCOE under guidance of Girija Chiddarwar Mam
	<br>

	<b> References: </b> 
	<ul class="list-group">
            <p><li>The Elements of Statistical Learning Book by Jerome H. Friedman, Robert Tibshirani, and Trevor Hastie
		</li><br>
		<li>Deep Learning Book by Aaron Courville, Ian Goodfellow, and Yoshua Bengio</li><br>
		<li>Computerfile - Youtube</li><br>
		<li>Wikipedia</li><br>
		<li>Kaggle.com</li><br>
	</p>

For more information on data set visit <a href="https://www.kaggle.com/grasslover/spotify-music-genre-list" target="blank">here.</a>
<br>

</br>




{% endblock content %}
