{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Acoustic Songs</h1>
    <h4><a href='http://open.spotify.com/track/3tZEhhWeo5y5fNZG4ucTPe'>1.FX-RemasteredVersion</a></h4>
    <h4><a href='http://open.spotify.com/track/18o4mqgG9RmPAD8aItmvkO'>2.Woodstock</a></h4>
    <h4><a href='http://open.spotify.com/track/1DtZtej2ltBB0x4SBI15S3'>3.WestIndiansTakeOver</a></h4>
    <h4><a href='http://open.spotify.com/track/6DtJ6DC2LBZohyHHeFs52u'>4.TheGodfatherWaltz</a></h4>
    <h4><a href='http://open.spotify.com/track/3eH95cySq82dDtpwrGCCfQ'>5.DowntoYou</a></h4>

  	<img src='static/acoustic1white.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}