{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 dance Songs</h1>
    <h4><a href='http://open.spotify.com/track/0NJp8GyCOWnQh71xKSPfuV'>1.Freaky</a></h4>
    <h4><a href='http://open.spotify.com/track/0Zl4G9qcdXV5hVhdOirNHG'>2.Goddamn</a></h4>
    <h4><a href='http://open.spotify.com/track/01DOm09B2AbiTARAbXVI6g'>3.CHopstix(withTravisScott)</a></h4>
    <h4><a href='http://open.spotify.com/track/4NOZ35Dhucr6UlVyLOtktd'>4.Dangerous</a></h4>
    <h4><a href='http://open.spotify.com/track/4OCuHoCvatMsnD5VITttCs'>5.Lit(feat.A$APFerg)</a></h4>

  	<img src='static/dancewhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}