{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Energetic Songs</h1>
    <h4><a href='http://open.spotify.com/track/6AXaFon5l29UPFnDNr8u6i'>1.Helvetios</a></h4>
    <h4><a href='http://open.spotify.com/track/7JToOyehVvHHHqxHPwS9La'>2.FireandFlame</a></h4>
    <h4><a href='http://open.spotify.com/track/0hLvuPAASRsv9Tm1cswpwD'>3.PantherDash</a></h4>
    <h4><a href='http://open.spotify.com/track/4RCN2DqtYccWoY3PuNEAwq'>4.GreySublimeArchon</a></h4>
    <h4><a href='http://open.spotify.com/track/7Ehp3q9GW9ebK7iL6G1yqD'>5.LaMiami</a></h4>

  	<img src='static/energywhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}