{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 instrumental Songs</h1>
    <h4><a href='http://open.spotify.com/track/5FUng4uhKcrRATj1Q75Nbw'>1.Coleman\sJam</a></h4>
    <h4><a href='http://open.spotify.com/track/6lpHVnkDlz2iE6hvWTKhFX'>2.RedBeansAndRice</a></h4>
    <h4><a href='http://open.spotify.com/track/57lB1s1WhTKLmkzFwVfBYs'>3.DonnaLee</a></h4>
    <h4><a href='http://open.spotify.com/track/4Y5RSklTEvt3dJTdePISu8'>4.Aura</a></h4>
    <h4><a href='http://open.spotify.com/track/3g94NPM9UwmZXrRlbhFcem'>5.OyeComoVa</a></h4>

  	<img src='static/instrumentwhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}