<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
    
	{% if title %}
	<title>ASAP Music -{{title}}</title>
	{% else %}
	<title>ASAP Music </title>
	{% endif %}
</head>
<style>
  body{
    background-image: url('static/back.png')
  }
  </style>
<body
>

	<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/"><b>ASAP Music</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto" style="position: relative;left: 800px;">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/home_predict">Suggest Music</a>
          <a class="nav-item nav-link" href="/about_us">About</a>
        </div>
        
        
      </div>
    </div>
  </nav>
</header>


	<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      {% block content %}{% endblock %}
    </div>

    <div class="col-md-6">
      <div class="content-section">

        <h3>Browse through Library</h3>
        <p class='text-muted'>

          <ul class="list-group">
            <li>By your fav Genre<br>
                <ul>
                    
                    <li><a class="list-group-item list-group-item-light" href="/datasetgraph">Graphical overview</a></li><br> 
                </ul>
            </li>
            <li>By Special attribute<br>
                <ul>
                   <li><a class="list-group-item list-group-item-light" href="/no_songs">Total songs</a>
                    </li><br>
                    <li><a class="list-group-item list-group-item-light" href="/dance">Top 5 Dancable songs</a>
                    </li><br>
                    <li><a class="list-group-item list-group-item-light" href="/energy">Top 5 Energetic songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/loud">Top 5 Loud songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/acoustic">Top 5 Acoustic songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/instrumental">Top 5 Instrumental songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/lively">Top 5 Lively songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/valence">Top 5 Positive songs</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/speech">Top 5 songs with high speechness</a></li><br>
                    <li><a class="list-group-item list-group-item-light" href="/tempo">Top 5 songs with high tempo</a></li><br>
                </ul>
            </li>
            
            
            </ul>

        </p>
      </div>
    </div>
  </div>
  
</main>
        

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <center><h5><i><font color="red">“One good thing about music, when it hits you, you feel no pain.”</font></i></h5></center>
 <center>***</center><br>
 
</body>
</html>