{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 lively Songs</h1>
    <h4><a href='http://open.spotify.com/track/1aWvwbR5saWdou5XmuYHBT'>1.Steppin\Out-Live</a></h4>
    <h4><a href='http://open.spotify.com/track/7DfDcN4bqbqJbXZMo3xb36'>2.OneLove</a></h4>
    <h4><a href='http://open.spotify.com/track/39rlciGgs3gQ52Pxp9IklQ'>3.Europa(Earth\sCryHeaven\sSmile)</a></h4>
    <h4><a href='http://open.spotify.com/track/1hbFT632FfV2EDuUjkllsw'>4.DiamondsOnTheSolesOfHerShoes-LiveInNewYork/2011</a></h4>
    <h4><a href='http://open.spotify.com/track/4Xw7Migb1H5us6TnUQbSy8'>5.BigBonedGal-Live</a></h4>
  	<img src='static/livewhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}