{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Loud Songs</h1>
    <h4><a href='http://open.spotify.com/track/1TYLHf1oDFHbinHv1bUtih'>1.StopCallingUsHorrorcore.</a></h4>
    <h4><a href='http://open.spotify.com/track/1ABCxSq1cnn8k9UugZFfbA'>2.NePretiMi</a></h4>
    <h4><a href='http://open.spotify.com/track/0TuxX7l8A9SbSuCdJqx6rK'>3.OstavljamTe</a></h4>
    <h4><a href='http://open.spotify.com/track/3STzY42ePLf8YjhoUIDdSy'>4.OtkadTebeZnam</a></h4>
    <h4><a href='http://open.spotify.com/track/7fzZQNltKV69g3ZoAAAXzN'>5.Od0do100(feat.Sha)</a></h4>

  	<img src='static/loudwhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}