{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Songs with high speechness</h1>
    <h4><a href='http://open.spotify.com/track/1igeI0Dv9OWFjshEH05A1R'>1.Village</a></h4>
    <h4><a href='http://open.spotify.com/track/2Wf1CLSYMi5On5MPSxlUOv'>2.Am/Pm</a></h4>
    <h4><a href='http://open.spotify.com/track/4pCEIQ6wBVuaJdER5bALtO'>3.That\sARack</a></h4>
    <h4><a href='http://open.spotify.com/track/2V9u4CoNKwP7WV7gJme2LC'>4.4[bump]</a></h4>
    <h4><a href='http://open.spotify.com/track/1TULEHv0wpIZYI7zqmhzEg'>5.Bet(feat.Skepta&MichaelPhantom)</a></h4>
  	<img src='static/speechwhite.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}