{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Songs with high tempo</h1>
    <h4><a href='http://open.spotify.com/track/3KnCXefXuSfyWrwVw7y445'>1.BananaboatSong</a></h4>
    <h4><a href='http://open.spotify.com/track/1NYBloHxZT7JbjnnZEM39g'>2.NightCruise</a></h4>
    <h4><a href='http://open.spotify.com/track/6xyfmtAUE4bV1fLD74AAIn'>3.SteelCityJam</a></h4>
    <h4><a href='http://open.spotify.com/track/618hiI74zBL8UVgAvfmkLj'>4.RidingWithTheKing</a></h4>
    <h4><a href='http://open.spotify.com/track/2tuHLECUgnWvANv1RK6OtP'>5.FragileBird</a></h4>

  	<img src='static/tempowhite1.png'/ height="600px" width="800px">

  </body>

</html>
{% endblock content %}