{% extends 'layout_1.html' %}

{% block content %}

<html>
  <head>

  </head>
  <body>
    <h1>Top 5 Positive Songs</h1>
     <h4><a href='http://open.spotify.com/track/2Y90nL1ohB4sgYELDs7uNx
'>1.GloryDays</a></h4>
     <h4><a href='http://open.spotify.com/track/5QSf82Wy6anGZ1NEUr1neJ'>2.We\reHereForAGoodTime(NotALongTime)</a></h4>
     <h4><a href='http://open.spotify.com/track/2ouURa1AIXp3AvkS52Jry5'>3.EveryMorning</a></h4>
     <h4><a href='http://open.spotify.com/track/6sQ41j7G8kyhirJxBoI6gs'>4.ShalalaLala</a></h4>
     <h4><a href='http://open.spotify.com/track/7DfDcN4bqbqJbXZMo3xb36'>5.OneLove</a></h4>
  	<img src='static/valwhite.png'/ height="600px" width="800px">
   
  </body>

</html>
{% endblock content %}